<p id="notice"><%= notice %></p>

<p>
  <h1 class="display-4">
    <%= @video.title %>
  </h1>
</p>

<div class="container-fluid">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="<%= @video.url %>" allowfullscreen></iframe>
  </div>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
